.link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
}

.link:hover {
  color: #ffd900e1;
  transform: scale(1.1);
}
.active {
  color: #ffd700;
  box-shadow: inset 0 -2px 0 0 white;
}

.header {
  color: white;
  padding: 15px 0;
}

.list {
  display: flex;
  gap: 24px;
}
